header {
  display: flex;

  align-items: center;
}

header h1 {
  font-weight: 700;

  letter-spacing: 2px;
}

header small {
  color: #666;
}

nav {
  flex: 1;
  display: flex;
}

nav ul {
  margin-left: 2em;
  display: flex;
  align-items: center;

  margin: -0.5em 0 -0.5em 0;
}

nav li {
  display: inline-flex;

  align-self: center;
}

nav li:before {
  content: '';

  margin: -1em 1em -1em 1.5em;

  border-right: 1px solid #fff;
  -moz-transform: skew(-22.5deg);
  -webkit-transform: skew(-22.5deg);
  transform: skew(-22.5deg);
}

nav li:last-child:after {
  content: '';

  margin: -1em 1em -1em 1.5em;

  border-right: 1px solid #fff;
  -moz-transform: skew(-22.5deg);
  -webkit-transform: skew(-22.5deg);
  transform: skew(-22.5deg);
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;

  color: #7FDBFF;

  padding: 1em;
  margin: -1em;
}

nav a:link,
nav a:visited { color: #7FDBFF; }
nav a:hover   { color: #265C83; }

header img {
  max-height: 1em;

  margin-left: 0.42em;
}

content {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;

  padding: 3px 20px 0 20px;
}

main {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;
}
