header {
  min-height: 61.8vh;
}

header a { color: #7FDBFF; }
header a:link,
header a:visited { color: #7FDBFF; }
header a:hover   { color: #265C83; }

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin: 1em 0;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  margin: 0 2em;
}

.wrapper:nth-of-type(2) {
  margin-top: 1em;
}

.box {
  flex: 1;

  border: 1px solid #fff;
  padding: 1em;

  min-height: 8em;
}

.box:nth-of-type(2) {
  display: flex;

  align-items: center;
  justify-content: flex-end;

  margin-top: auto;
}

.wrapper:nth-of-type(2) > .box {
  min-height: 1em;
}

.box:nth-of-type(2) {
  border-left: none;
}

header h1 {
  display: block;

  color: #fff;

  font-weight: 700;
  font-size: 7em;

  letter-spacing: 13px;
}

header small {
  color: #999;

  margin-left: 0.42em;
}

header h2 {
  color: #fff;

  font-size: 1.13em;
}

header img {
  margin-left: 0.42em;
}

.nowrap {
	white-space: nowrap;
}

nav {
  display: flex;
  flex: 1;

  border: 1px solid #fff;
  padding: -1em -1em -1em 1em;
  padding-left: 1em;

  align-self: center;

  width: 100%;
  box-sizing: border-box;
}

nav li {
  display: inline-flex;
  padding: 1em;
  margin: 0 -1.5em 0 0;
}

nav li:after {
  content: '';

  margin: -1em 1em -1em 2em;

  border-right: 1px solid #fff;
  -moz-transform: skew(-22.5deg);
  -webkit-transform: skew(-22.5deg);
  transform: skew(-22.5deg);
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;

  padding: 1em 0.5em 1em 1.5em;
  margin: -1em -0.5em -1em -1.5em;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;

    align-items: stretch;
  }
  .box {
    min-height: 1em;
  }
  .box:nth-of-type(2) {
    border-left: 1px solid #fff;

    margin-top: 1em;
  }
  nav {
    padding-left: 0;
  }
  nav li {
    margin: 0 -2.5em 0 0;
  }
  nav li:after {
    margin: -1em 1em -1em 1em;
  }
  nav a {
    padding: 1em 0.25em 1em 0.125em;
    margin: -1em -0.25em -1em -0.125em;
  }
}